{% extends "user_base.html" %} {% block user_content %}

<div class="w-screen h-[90vh] overflow-y-scroll p-5 text-sm">
  <div class="flex items-center gap-2">
      <a href={{ url_for('events') }} class="cursor-pointer rounded-sm border border-purple-500 px-1 py-1 flex items-center justify-center w-fit">
      <svg class="inline" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.71 6.71c-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L10.83 12l3.88-3.88c.39-.39.38-1.03 0-1.41z"/></svg>
    </a>
    <span class="text-2xl font-semibold">Event details</span>
  </div>

  <hr class="my-2" />
  {% if event %} {% for key, value in event.items() %}
  {% if key == "created_at" or key == "start_date" or key == "end_date" %}
  <p>
    <span class="font-medium mr-2 text-purple-500"
      >{{ key| lower | replace("_", " ") }}:</span
    >{{ value | strftime("%A, %d %B %Y") }}
  </p>
  {% else %}
  <p>
    <span class="font-medium mr-2 text-purple-500"
      >{{ key| lower | replace("_", " ") }}:</span
    >{{ value }}
  </p>
  {% endif %}
  {% endfor %} {% endif %}

  <hr class="my-5"/>

  <form action="{{ url_for('create_invitation', event_id=event.id) }}" method="POST" class="flex flex-col gap-2">
    <h1 class="font-semibold italic text-purple-500">Invite a guest?</h1>
    <label for="inviteEmail">
        <p>Enter guest email</p>
        <input
          name="email"
          type="email"
          id="inviteEmail"
          placeholder="Enter events name"
          required
        />
        {#
        <small class="text-red-500" id="inviteEmailErrMsg" class="h-[16px]"
          >fd&nbsp;</small
        >
        #}
      </label>

    <label for="inviteFname">
        <p>Enter guest fullname</p>
        <input
          name="fullname"
          type="text"
          id="inviteFname"
          placeholder="Enter events name"
          required
        />
        {#
        <small class="text-red-500" id="inviteFnameErrMsg" class="h-[16px]"
          >fd&nbsp;</small
        >
        #}
      </label>

      <button type="submit" class="btn mt-1 cursor-pointer rounded-sm w-fit">Invite</button>
  </form>

  <hr class="my-5"/>

  <section class="flex flex-col gap-5">
    <h3 class="font-medium text-lg">Invited guests listing</h3>
    <ul class="list-decimal list-inside">
      {% if invites %} {% for invite in invites %}
      <li>
        <a
          class="underline text-purple-300"
          href="{{ url_for('single_invite', invite_id=invite.id) }}"
          >{{invite.email}} - {{invite.fullname}}</a
        >
      </li>
      {% endfor %} {%else%}
      <p>No invites</p>
      {% endif %}
    </ul>
  </section>
</div>

{% endblock user_content %}
