{% extends "base.html" %} {% block content %}

<div
  class="w-screen h-[90vh] overflow-y-scroll flex gap-2 justify-center items-center flex-col"
>
  <h1 class="text-2xl font-semibold">Password reset</h1>

  <div class="flex items-center justify-center flex-col">
    <p class="text-xs max-w-[500px] text-center">
      On click of the
      <span class="text-purple-500 font-bold">'verify'</span> button a mail
      containing a password reset link will be sent to the provided email
      address, if the email is in our system
    </p>
    <form
      method="POST"
      action="{{ url_for('send_password_reset_email') }}"
      class="flex items-center gap-2 my-2"
    >
      <label for="email">
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Enter your email"
          {%if
          email
          %}
          value="{{email}}"
          {%endif%}
          required
        />
        <p class="text-xs font-semibold italic text-red-500 mt-2 max-w-[300px]">
          Due to gsmtp reset emails might be delayed, please wait 10 minutes
          before trying again
        </p>
      </label>
      <button type="submit" class="cursor-pointer btn w-fit p-2 m-0 rounded-sm">
        verify
      </button>
    </form>
  </div>

  <div class="flex items-center justify-center flex-col mt-5">
    <p class="max-w-[500px] text-center text-xs">
      On click of the
      <span class="text-purple-500 font-bold">'change'</span> button you
      password will be changed
    </p>

    <form
      method="POST"
      action="{{ url_for('update_user_password') }}"
      class="flex items-center gap-2 my-2"
    >
      <input
        type="hidden"
        name="reset_code"
        id="reset_code"
        {%if
        reset_code
        %}
        value="{{reset_code}}"
        {%endif%}
        required
      />
      <label for="new_password">
        <input
          type="password"
          name="password"
          id="new_password"
          placeholder="Enter your new password"
          required
        />
      </label>
      <button type="submit" class="cursor-pointer btn w-fit p-2 m-0 rounded-sm">
        change
      </button>
    </form>
  </div>
</div>

{% endblock %}
